<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  做个浏览器，预览二维码的页面  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  见鬼，哪里来的特殊权限，我们需要把他移除掉  -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:name=".QrApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".creator.content.ContentBuilderActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".other.AboutActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".floating.FloatingScanSettingsActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".other.PrivacyAgreementActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".CreatorActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".PhotoScanActivity"
            android:configChanges="uiMode"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.google.zxing.client.android.SCAN" />
            </intent-filter>
        </activity>

        <service
            android:name=".other.ScanTileService"
            android:exported="true"
            android:icon="@drawable/ic_lqr_24dp"
            android:label="@string/quick_scan"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <service
            android:name=".floating.MediaProjectionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:icon="@drawable/ic_lqr_24dp" />

    </application>

</manifest>