<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".QrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Techo">
        <activity
            android:name=".creator.content.ContentBuilderActivity"
            android:exported="false" />
        <activity
            android:name=".other.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".other.PrivacyAgreementActivity"
            android:exported="false" />
        <activity
            android:name=".DemoActivity"
            android:exported="false" />
        <activity
            android:name=".CreatorActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".PhotoScanActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter
                android:icon="@mipmap/ic_launcher_round"
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.google.zxing.client.android.SCAN" />
            </intent-filter>
        </activity>
    </application>

</manifest>